<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <record id="config_view_custom" model="ir.ui.view">
        <field name="name">config.view.custom</field>
        <field name="model">res.company</field>
        <field name="inherit_id" ref="base.view_company_form"/>
        <field name="arch" type="xml">
            <xpath expr="//notebook[last()]" position="inside">
                <page string="MercadoLibre" name="mercadolibre">
                    <group>
                        <button class="btn btn-primary" string="Authenticate" type="object" name="authenticate"/>
                        <button class="btn btn-primary" string="Categories" type="object" name="get_categories"/>
                    </group>
                    <group>
                        <field name="api_id"/>
                        <field name="secret_key"/>
                        <field name="redirect_uri"/>
                        <field name="vendor_id"/>
                        <field name="access_token"/>
                        <field name="refresh_token"/>
                        <field name="code"/>
                        <field name="price_list_id"/>
                    </group>
                    <group>
                        <field name="response_categories"/>
                    </group>
                </page>
            </xpath>
        </field>
    </record>
</odoo>